<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Web artisan nature">
    <meta name="author" content="Github:Crabvn">
    <meta name="robots" content="noindex">
    <title>WA Nature</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    {% load static %}
    <link href="{% static "css/site.css" %}" rel="stylesheet">
</head>